@import url(_reset.css);
@import url(_variaveis.css);

body {
    font-family: var(--fonte-principal);
    font-size: var(--fonte-tamanho-base);
    line-height: var(--tamanho-linha-base);
}

.cabecalho,
.main {
    box-sizing: border-box;

    padding: 0 5rem;
}

.secao {
    box-sizing: border-box;
    
    padding: 6rem 0;
}