.cabecalho {
    box-sizing: border-box;
    width: 100%;
}

.cabecalho__container {
    padding: 1rem 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__logo__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho__nav {
    box-sizing: border-box;
}

.cabecalho__lista {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.cabecalho__lista__item {
    padding: .25rem 0;
}

.cabecalho__login {
    display: flex;
    flex-direction: row;
    gap: .75rem;
}

@media screen and (max-width: 768px){
    .cabecalho__lista {
        display: none;
    }
}
