.metricas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

    padding: 0 0 6rem;
}

.metrica__caixa {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: .75rem;
    box-sizing: border-box;
    max-width: 280px;
}

.metrica__caixa__conteudo {
    display: grid;
    grid-template-rows: auto auto;
    row-gap: .5rem;
}

.metrica__titulo {
    font-size: 3.75rem;
    line-height: 4.5rem;
    letter-spacing: -0.02rem;
}

.metrica__subtitulo {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: var(--peso-500);
    letter-spacing: 0;
}
